<%= stylesheet_link_tag "def_home_box" %>
<% if logged_in? %>
<%= provide(:title, current_user.name + "'s links")%>
	<%= render 'layouts/options_bar'%>
	
	<% if current_user.tabs.any? %>
		<div class="container">
			<%= render current_user.tabs  %>
		</div>
	<% end %>


<script type="text/javascript">
    $(window).ready(function(){
    	var title_height = $(".box-title").height();
   		var inner_height = $(".box").height() - (title_height + 9);
    	$(".box-inner").css("height", inner_height.toString() + "px");
    	$(".box-pic").css("height", inner_height.toString() + "px");
    	var box_width = $(".box").width();
    	$(".tab_pic").each(function() {
    		
    		var pic_width = $(this).width();
    		var pic_height = $(this).height();
    		var wid_diff = (box_width - pic_width) / 2;
    		var hit_diff = ((inner_height - pic_height) / 2) + 3 ;
    		$(this).css("left", wid_diff.toString() + "px");
    		$(this).css("top", hit_diff.toString() + "px");
    		
    	});

    });
</script>

<% else %>


<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<%= provide(:title, 'Home') %>
<div class="container">
	<%= render 'layouts/boxes' %>
	
	<%= render 'layouts/loginmod'%>
</div>

<% end %>
