<%= stylesheet_link_tag "def_home_box" %>
<% if logged_in? %>
<%= provide(:title, current_user.name + "'s links")%>

<div class="container">
	<div class="row">
		<div class="col-md-1">
			<button type="button" id="add-button" data-toggle="modal" data-toggle="tooltip" data-target="#newTabModal" data-placement="left" title="New Link">
				<%= image_tag "newLink.png", size: "40x40", class: "ops-img" %>
			</button>

			<button class="ops-btns" id="delete-button"  data-toggle="tooltip" data-placement="right" title="Edit Links" onclick="location.href='<%= edit_user_path current_user %>'">
				<%= image_tag "editLink.png", size: "40x40", class: "ops-img" %>
			</button>
		</div>

		<div class="col-md-11">
			<%= render 'sheets/sheet_area'  %>
		</div>
	</div>

</div>

<%= render 'layouts/newTabModal' %>

<script type="text/javascript">
	$(document).ready(function() {

		// Select first tab
		var $first_tab = $('#tabSheet a:first');
		$first_tab.tab('show');
		var tab_sheet = $first_tab.attr('id');
		$.post("/sheet_change", {
			selected_value : tab_sheet
		});

		// Update active tabe, and fix picture display
		$('#tabSheet a').click(function(e) {
			e.preventDefault()
			$(this).tab('show')
			var sheet = $(this).attr('id');
			$.post("/sheet_change", {
				selected_value : sheet
			});

			$(".tab_pic").each(function() {
				var title_height = $(".box-title").height();
				var inner_height = $(".box-inner").height();

				var box_width = $(".box-inner").width();
				var pic_width = $(this).width();
				var pic_height = $(this).height();
				var wid_diff = ((box_width - pic_width) / 2);
				var hit_diff = ((inner_height - pic_height) / 2);

				//var hit_diff = 0;
				$(this).css("left", wid_diff.toString() + "px");
				$(this).css("top", hit_diff.toString() + "px");

				var pos = $(this).position();
				if (pos.left < -50) {
					var h_dif = ($('.box-inner').height() - $(this).height()) * 0.5;
				
					var w_dif = ($('.box-pic').width() - $(this).width()) * 0.5;

				
					$(this).css("left", (-w_dif).toString() + "px");
					$(this).css("top", (h_dif).toString() + "px");
				}

			});

		});

		setTimeout(function(){ 

		$(".tab_pic").each(function() {

			var title_height = $(".box-title").height();
			var inner_height = $(".box").height() - (title_height + 9);
			$(".box-inner").css("height", inner_height.toString() + "px");
			$(".box-pic").css("height", inner_height.toString() + "px");
			var box_width = $(".box-inner").width();
			var pic_width = $(this).width();
			var pic_height = $(this).height();
			var wid_diff = ((box_width - pic_width) / 2);
			var hit_diff = ((inner_height - pic_height) / 2);
			//var hit_diff = 0;
			$(this).css("left", wid_diff.toString() + "px");
			$(this).css("top", hit_diff.toString() + "px");
			
		});
		
		}, 100);

		$('form.new_tab').submit(function(e) {
			e.preventDefault();
			var valuesToSubmit = $(this).serialize();
			$.ajax({
				type : "POST",
				url : $(this).attr("action"),
				data : valuesToSubmit
			}).success(function() {
				document.getElementById('new_tab').reset();
				$('#newTabModal').modal('hide');
				loadNewTab();
			});
		});

	});

	function loadNewTab() {

		$.ajax({
			url : '/get_new_tab',
			type : "GET",
			dataType : "json",
			success : function(result, textStatus, xhr) {
				// Sets up the data for appending
				var name = result['name'];
				var address = result['address'];
				var picture = result['picture'];
				// Sets up the html string for appending
				var new_data = "<a target='_blank' href='" + address + "' style='display:block'><div class='box new_box_" + name + "'>" + "<div class='box-inner' style='height:167px;width:225px'><div class='box-pic' style='height:167px;width:225px'>"; 
				new_data += "<img class='tab_pic' src='" + picture + "'></img></div><div class='box-title center'>" + name + "</div></div></div></a>";
				// Finds then prepends the new tab
				var $pane = $('div.active').find('.sheet-col');
				$pane.prepend(new_data);
				
				
				//Gives time for picture to load
				setTimeout(function(){ 
    			
    			//JS for better picture placement
				var $box = $('.new_box_' + name);
				var $box_inner = $box.find('.box-inner');
				var $pic = $box.find('.tab_pic');
				var w_dif = ($box.width() - $pic.width()) * 0.5;
				var h_dif = ($box_inner.height() - $pic.height()) * 0.5;
				$pic.css("left", w_dif.toString() + "px");
				$pic.css("top", h_dif.toString() + "px");
    			
    			}, 10);
				
			
				
			}
		});


	}
</script>

<% else %>

<script type="text/javascript">
	$(window).load(function() {
		$('#myModal').modal('show');
	}); 
</script>

<%= provide(:title, 'Home') %>
<div class="container">
	<%= render 'layouts/boxes' %>

	<%= render 'layouts/loginmod'%>
</div>

<% end %>
