<%= stylesheet_link_tag "def_home_box" %>
<% if logged_in? %>
<%= provide(:title, current_user.name + "'s links")%>
	<%= render 'layouts/options_bar'%>
	<% if current_user.tabs.any? %>
		<div class="container">
			<%= render current_user.tabs  %>
		</div>
	<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= render 'layouts/tab_form' %>
		</div>
	</div>
</div>


<% else %>


<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<%= provide(:title, 'Home') %>
<div class="container">
	<%= render 'layouts/boxes' %>
	
	<%= render 'layouts/loginmod'%>
</div>

<% end %>
