 <!-- Nav tabs
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  
 -->
  
  <!-- TODO: Activate the first tab -->
  <ul class="nav nav-tabs" role="tablist">
  	<% if @page_data.any? %>
  	<% @page_data.each do |s, t| %>
  		<li role="presentation" id="tabs"><a href="#<%= s.name %>" aria-controls=<%= s.name.gsub("%20", "") %> role="tab" data-toggle="tab"><%=s.name %></a></li>
  	<% end %>
  	<% end %>
  	<li role="presentation" id="tabs"><a href="#add" id="tabs" aria-controls="add" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span></a></li>
  </ul>

	<!-- <%= render 'layouts/options_bar'%> -->

  <!-- Tab panes 
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">...</div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>
  -->
  
	<div class="tab-content">
		<% if @page_data.any?%>
		<% @page_data.each do |s, t| %>
			<div role="tabpanel" class="tab-pane" id="<%= s.name.gsub("%20", "") %>">
				
					<%= render @page_data[s] %>
					These are some tabs
				
			</div>
		<% end %>
		<% end %>
		<div role="tabpanel" class="tab-pane" id="add"><%= render :partial => 'sheets/sheet_form' %></div>
	</div>
	
	<script type="text/javascript">
	
	$('#tabs a:first').tab('show'); // Select first tab
	
	</script>
