<%= stylesheet_link_tag "edit_home_box" %>
<%= provide(:title, "Edit links")%>
<%= render 'layouts/edit_options_bar'%>
<% unless @page_data.empty? %>
<div class="container">
	<% @page_data.each do |key, val| %>
	<h2><%= key.name %></h2><hr>
	<% unless val == nil %>
	
	<% val.each do |aTab| %>
	<div class="row edit-row">
		<div class="col-md-4">
			<%= render aTab  %>
		</div>
		<div class="col-md-6 edit-tab">
			<div class="col-md-3 edit-buttons-section">

				<%= link_to "", aTab, method: :delete, class: "btn btn-danger",
				data: {confirm: "You sure?" } %>
				<br>
				<%= link_to "", edit_tab_path(aTab),  class: "btn btn-default edButton" %>
				
				
				

			</div>

			<div class="col-md-7 tab-info">
				<p>
					Name: <%= aTab.name %>
				</p>
				<p>
					Address: <%= aTab.address %>
				</p>
			</div>

		</div>
	</div>

	<% end %>
	<% end %>
	<% end %>
</div>
<script type="text/javascript">
    $(window).ready(function(){
    	var title_height = $(".box-title").height();
   		var inner_height = $(".box").height() - (title_height + 9);
    	$(".box-inner").css("height", inner_height.toString() + "px");
    	$(".box-pic").css("height", inner_height.toString() + "px");
    	var box_width = $(".box").width();
    	$(".tab_pic").each(function() {
    		
    		var pic_width = $(this).width();
    		var pic_height = $(this).height();
    		var wid_diff = (box_width - pic_width) / 2;
    		var hit_diff = ((inner_height - pic_height) / 2)  ;
    		$(this).css("left", wid_diff.toString() + "px");
    		$(this).css("top", hit_diff.toString() + "px");
    		
    	});

    });
</script>
<% end %>
