<%= stylesheet_link_tag "edit_home_box" %>
<%= provide(:title, "Edit links")%>
<%= render 'layouts/edit_options_bar'%>
<% if current_user.tabs.any? %>
		<div class="container">
			<% @tabs.each do |aTab| %>
			<div class="row edit-row">
				<div class="col-md-4">
						<%= render aTab  %>
				</div>
				<div class="col-md-6 edit-tab">
						<%= link_to "", aTab, method: :delete, class: "btn btn-danger",
											   data: {confirm: "You sure?" } %>
					
				</div>
			</div>
			<% end %>
		</div>
<% end %>
