<%= stylesheet_link_tag "def_home_box" %>
<div class="options">
	<div class="ops-area center">
		
			<button type="button" id="add" data-toggle="modal" data-toggle="tooltip" data-target="#newTabModal" data-placement="left" title="New Link">
				<%= image_tag "addButton.png", size: "30x30", class: "ops-img" %>
				
			</button>
		
		<button class="ops-btns" id="delete"  data-toggle="tooltip" data-placement="right" title="Edit Links" onclick="location.href='<%= edit_user_path current_user %>'">
			<%= image_tag "editButton.png", size: "30x30", class: "ops-img" %>
		</button>
	</div>
	
	
	<%= render 'layouts/newTabModal' %>

	
</div>



