<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>

		<div class="container">
			<% flash.each do |message_type, message| %>
			<div class="alert alert-<%= message_type %>">
				<%= message %>
			</div>
			<% end %>

		</div>
		<%= render 'layouts/header' %>
		<script type="text/javascript">
			
				var mobile = 0;	
				if ($(window).width() < 556) {
					mobile = 1;			
				}
				$.post("/set_screen_size", {
				selected_value : mobile
			});
		</script>
		
		<%= yield %>
	</body>
</html>
